@import 'nib'

*
  -webkit-tap-highlight-color  rgba(0,0,0,0) /* make transparent link selection, adjust last value opacity 0 to 1.0 */


body
  font-family 'Open Sans', sans-serif
  //-webkit-touch-callout none                /* prevent callout to copy image, etc when tap to hold */
  //-webkit-text-size-adjust none             /* prevent webkit from resizing text to fit */
  //-webkit-user-select  none                  /* prevent copy paste, to allow, change 'none' to 'text' */

.header
  background-color black
  padding 20px 0px 20px 0px
  p 
    margin 0px
    color white
    margin-top: 4px
  h3 
    margin 0px
    color white

.equation
  font-size 50px

.bar
  background-color gray
  height 10px
  margin-bottom: 20px
  display inline-block
  margin-right 5px

.bar:hover 
  background-color:black;

.desp 
  margin-top 100px

.info 
  border-left 5px solid black
  padding-left 10px

.highlight 
  background-color yellow;