@import 'nib'

*
  -webkit-tap-highlight-color  rgba(0,0,0,0) /* make transparent link selection, adjust last value opacity 0 to 1.0 */


body
  font-family 'Open Sans', sans-serif
  //-webkit-touch-callout none                /* prevent callout to copy image, etc when tap to hold */
  //-webkit-text-size-adjust none             /* prevent webkit from resizing text to fit */
  //-webkit-user-select  none                  /* prevent copy paste, to allow, change 'none' to 'text' */

.header
  background-color black
  padding 20px 0px 20px 0px
  p 
    margin 0px
    color white
    margin-top: 4px
  h3 
    margin 0px
    color white

#bars
  max-width 650px
  width 100%
  margin 0 auto

.bar
  background-color #CCC
  height 10px
  margin 10px 5px
  display inline-block
  box-shadow inset 1px 1px 1px 1px rgba(0,0,0,0.5)
  &:hover 
    background-color black

.levelBtn
  padding 5px
  &.active .bar
    background-color #444
    box-shadow none
    &:hover
      background-color black

.desc
  margin-top 10px

.info 
  border-left 5px solid black
  padding-left 10px

.math
  font-size 50px
  cursor default
  &.interacting
    color grey
  .point-to 
    color #E00

  .clickable
    color black
    cursor pointer

.footer 
  padding 30px 10px 0 10px
  color #CCC
  width 100%
  text-align center
