extends ../layout

block content
  .header
    .container
      .row
        center
          h3#titleEq
  .equation
    .math#theEq
    #bars
      .container
        .row
          .row.active.levelBtn(data-level="1")
          .row.levelBtn(data-level="2")
          .row.levelBtn(data-level="3")
          .row.levelBtn(data-level="4")
          .row.levelBtn(data-level="5")
    .desc
      .container
        .row
          .col-lg-6.col-lg-offset-3
            .info
              p#description