extends ../layout

block content
  .equation
    .title Heisenberg's Uncertainty Principle
    input#parameter(type="hidden")=param
    //.math \[META(META(\sigma_{x})META(\sigma_{p}}) META(\geq) META(\frac{META(\hbar}){2})\]
    .math \[\cssId{A}{\class{level-2}{\cssId{B}{\class{level-1}{\sigma_{x}}}\cssId{C}{\class{level-1}{\sigma_{p}}}}} \cssId{D}{\class{level-1}{\geq}} \cssId{E}{\class{level-2}{\frac{\cssId{F}{\class{level-1}{\hbar}}}{2}}}\]
    .math \[H = U+pV\,\!\]
    .math \[\mathbf{A} = A \mathbf{\hat{e}}_{\bot} \,\!\]
    .math \[\ln(k)= \frac{-E_a}{R}\frac{1}{T} + \ln(A)\]
    .math \[\class{term}{\class{eq_first}{\sigma_{x}}\class{eq_second}{\sigma_{p}}} \geq \frac{\hbar}{2}\]