extends ../layout

block content
  .equation
    .title Heisenberg's Uncertainty Principle
    .math \[\sigma_{x}\sigma_{p} \geq \frac{\hbar}{2}\]
    .math \[H = U+pV\,\!\]
    .math \[\mathbf{A} = A \mathbf{\hat{e}}_{\bot} \,\!\]
    .math \[\ln(k)= \frac{-E_a}{R}\frac{1}{T} + \ln(A)\]
    .math \[\class{NOOOOOOOOOO}{\class{YAYYYYYY}{\sigma_{x}}\class{YAYYYYYY}{\sigma_{p}}} \geq \frac{\hbar}{2}\]